    <div class="tab-content">
      <div id="client01-layout01" class="tab-pane">
        <!-- @include _client01_layout01.html -->
        <div class="note container bg-primary">The layout showing here will render fine only in all browsers <br>For the whole HTML will render fine in all major email domains please checkout <a href="assets/clients/client-01/layouts/layout-01/index.html" target="_blank">here</a></div>
      </div>
      <div id="client01-layout02" class="tab-pane">
        <!-- @include _client01_layout02.html -->
        <div class="note container bg-primary">The layout showing here will render fine only in all browsers <br>For the whole HTML will render fine in all major email domains please checkout <a href="assets/clients/client-01/layouts/layout-02/index.html" target="_blank">here</a></div>
      </div>
      <div id="client01-layout03" class="tab-pane">
        <!-- @include _client01_layout03.html -->
        <div class="note container bg-primary">The layout showing here will render fine only in all browsers <br>For the whole HTML will render fine in all major email domains please checkout <a href="assets/clients/client-01/layouts/layout-03/index.html" target="_blank">here</a></div>
      </div>
      <div id="client01-layout04" class="tab-pane">
        <!-- @include _client01_layout04.html -->
        <div class="note container bg-primary">The layout showing here will render fine only in all browsers <br>For the whole HTML will render fine in all major email domains please checkout <a href="assets/clients/client-01/layouts/layout-04/index.html" target="_blank">here</a></div>
      </div>

      <div id="client01-layout05" class="tab-pane">
        <!-- @include _client01_layout05.html -->
        <div class="note container bg-primary">The layout showing here will render fine only in all browsers <br>For the whole HTML will render fine in all major email domains please checkout <a href="assets/clients/client-01/layouts/layout-05/index.html" target="_blank">here</a></div>
      </div>
      <div id="client01-layout06" class="tab-pane">
        <!-- @include _client01_layout06.html -->
        <div class="note container bg-primary">The layout showing here will render fine only in all browsers <br>For the whole HTML will render fine in all major email domains please checkout <a href="assets/clients/client-01/layouts/layout-06/index.html" target="_blank">here</a></div>
      </div>



    </div>